
nav{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.ajust{
  
  display: grid;
  width: max-content;
  padding: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
#input{
  margin: 3px;
}
.button{
  margin: 2px;
}